.emacs.d/ac-comphist.dat
.emacs.d/elpa/archives
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/.smex-items
.emacs.d/backups
.emacs.d/places

.vim/undodir
.vim/.netrwhist
.vim/bundle/*
.xmonad/xmonad.{errors,hi,o}
.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
