! urxvt settings
URxvt*termName: rxvt-256color
URxvt*loginShell: true
URxvt.scrollBar: false
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt.saveLines: 50000
URxvt.urgentOnBell: true
URxvt.font:xft:Meslo LG S-9

#include "/home/maarten/.config/termcolors/base16-default.dark.xresources"
