! Xft font settings
! Xft.autohint: 0
! Xft.lcdfilter: lcddefault
! Xft.hintstyle: hintmedium
! Xft.hinting: 1
! Xft.antialias: 1
! Xft.dpi: 96
! Xft.rgba: rgb

! urxvt settings
URxvt*termName:rxvt-256color
URxvt*loginShell:true
URxvt.scrollBar: false
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt.depth: 32
URxvt.saveLines: 50000
URxvt.urgentOnBell: true
URxvt.font:xft:Gohufont-11

! xterm settings
xterm*termName: xterm-256color
xterm*faceName: Gohufont:size=11
xterm*scrollBar: false

! terminal colours
! ir_black
*.background: #000000
*.foreground: #ffffff
*.color0: #7C7C7C
*.color1: #e18964
*.color2: #a8ff60
*.color3: #ffffb6
*.color4: #6699cc
*.color5: #ff73fd
*.color6: #96cdfe
*.color7: #eeeeee
*.color8: #7C7C7C
*.color9: #e18964
*.color10: #a8ff60
*.color11: #ffffb6
*.color12: #6699cc
*.color13: #ff73fd
*.color14: #96cdfe
*.color15: #eeeeee
