! Xft font settings
! Xft.autohint: 0
! Xft.lcdfilter: lcddefault
! Xft.hintstyle: hintmedium
! Xft.hinting: 1
! Xft.antialias: 1
! Xft.dpi: 96
! Xft.rgba: rgb

! urxvt settings
URxvt*termName:rxvt-256color
URxvt*loginShell:true
URxvt.scrollBar: false
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt.depth: 32
URxvt.saveLines: 50000
URxvt.urgentOnBell: true
URxvt.font:xft:Terminus-12

! xterm settings
xterm*termName: xterm-256color
xterm*faceName: Terminus:size=12
xterm*scrollBar: false

urxvt*cursorColor:      #fd971f

! terminal colours
! Tomorrow-Night Palette
#define t_background #1D1F21
#define t_current_line #282A2E
#define t_selection #373B41
#define t_foreground #C5C8C6
#define t_comment #707880
#define t_red #CC6666
#define t_orange #DE935F
#define t_yellow #F0C674
#define t_green #B5BD68
#define t_aqua #8ABEB7
#define t_blue #81A2BE
#define t_purple #B294BB
 
xterm*background: t_background
xterm*foreground: t_foreground
urxvt*background: t_background
urxvt*foreground: t_foreground
! black
*color0: t_current_line
*color8: t_selection
! red
*color1: #A54242
*color9: t_red
! green
*color2: #8C9440
*color10: t_green
! yellow
*color3: t_orange
*color11: t_yellow
! blue
*color4: #5F819D
*color12: t_blue
! magenta
*color5: #85678F
*color13: t_purple
! cyan
*color6: #5E8D87
*color14: t_aqua
! white
*color7: t_comment
*color15: t_foreground
